body {
    min-height: 100vh;
    background-color: rgb(6, 6, 54);
}

.earth {
     clip-path: circle(18%);
     width: 1000px;
     position: relative;
     z-index: 1;
     display: block;
     margin-left: auto;
     margin-right: auto;
     animation: earth 45s infinite linear;
}

.moon {
    width: 277.7px;
    clip-path: circle(34%);
    position: absolute;
    top: 50px;
    left: 230px;
    margin-right: auto;
    margin-bottom: auto;
    animation:5s moon infinite linear;
    z-index: 0;
}

@keyframes moon {
    0% {
        transform: translate(70px);
        width: 200px;        
    }
    3% {
        z-index: 0;       
    }
    4% {
        z-index: 2;
    }
    25% {
        width: 278px;
    }
    50%{
        transform: translate(485px, 230px);
        width: 200px;
    }
    65% {
        z-index: 0;
        width: 170px;
    }

    96% {
         z-index: 0; 
         width: 185px;
    }
    97% {
        z-index: 2;
    }
    
    100% {
        transform: translate(70px);
        width: 200px;  
    }
}

@keyframes earth{
    0%{}
    50%{}
    100%{
        transform: rotate(360deg);
    }
}